@media screen and (max-width: 1140px) {

    /* .container {
        max-width: 375px;
        padding: 0 30px;
    } */

    .container {
        max-width: 700px;
        padding: 0 30px;
    }

    /* Header */

    .header-menu {
        display: none;
    }

    .header-nav {
        border-bottom: none;
    }

    .header-mobile-btn {
        display: block;
        position: fixed;
        right: 30px;
    }

    .header-row {
        display: grid;
        justify-content: center;
    }

    /* Skills page */

    .skills-list {
        justify-content: center;
    }

    /* Mobile menu */

    .header-menu-mobile.open {
        display: flex;

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: #fff;
        padding-top: 40px;

        z-index: 1;
    }


}

@media screen and (max-width: 700px) {



    .container {
        /* max-width: 375px; */
        padding: 0 30px;
    }

    /* header row */
    .header-row-title {
        display: grid;
        justify-content: start;
    }

    .header-row-title>.language {
        display: none;
    }

    /* Footer */

    .message-button {
        width: 100%;
    }

}